<table class="full-table pad-16"><tbody>
  <tr>
    <td>
      <h2>Honors & Awards</h2>
    </td>
  </tr>
</tbody></table>

<table class="full-table"><tbody>
  <tr>
    <td class="center pad-16 col-20 vcenter">
      <div>
        <h4 class="period-title">Doctoral Period</h4>
      </div>
    </td>
    <td class="pad-8 col-80 vcenter">
      <p>2025: Freshman Scholarship for PhD Student</p>
    </td>
  </tr>
  <tr>
    <td class="center pad-16 col-20 vcenter">
      <div>
        <h4 class="period-title">Master's Period</h4>
      </div>
    </td>
    <td class="pad-8 col-80 vcenter">
      <p>2025: Beijing Institute of Technology Excellent Master's Thesis</p>
      <p>2025: Beijing Outstanding Graduate</p>
      <p>2025: Beijing Institute of Technology Outstanding Graduate</p>
      <p>2025: Beijing Institute of Technology Outstanding Graduate Student</p>
      <p>2025: Beijing Institute of Technology Research Competition Scholarship</p>
      <p>2024: Beijing Institute of Technology Second-Class Academic Scholarship</p>
      <p>2024: Beijing Institute of Technology Outstanding Student</p>
      <p>2024: Beijing Fangshan Liangxiang University Town Half Marathon Finisher Award</p>
      <p>2024: Beijing Institute of Technology Debate Competition Second Prize</p>
      <p>2023: Beijing Institute of Technology First-Class Academic Scholarship</p>
    </td>
  </tr>
  <tr>
    <td class="center pad-16 col-20 vcenter">
      <div>
        <h4 class="period-title">Bachelor's Period</h4>
      </div>
    </td>
    <td class="pad-8 col-80 vcenter">
      <p>2021: National Encouragement Scholarship</p>
      <p>2021: Blue Bridge Cup Provincial Third Prize</p>
      <p>2021: University First-Class Scholarship</p>
      <p>2021: "Three Good Student" Honorary Title</p>
      <p>2020: "Internet Plus" College Student Innovation and Entrepreneurship Competition Henan Division First Prize</p>
      <p>2020: First-Class Scholarship</p>
      <p>2020: "Three Good Student" Honorary Title</p>
      <p>2020: 7th National College Engineering Training Integration Ability Competition Third Prize</p>
      <p>2020: College Student Science and Technology Activity Project Excellence Award</p>
      <p>2019: Blue Bridge Cup Provincial Second Prize</p>
      <p>2019: University First-Class Scholarship</p>
      <p>2019: "Three Good Student" Honorary Title</p>
      <p>2018-2022: Academic Excellence and Technological Innovation Scholarship</p>
      <p>2018: University First-Class Scholarship</p>
      <p>2018: "Three Good Student" Honorary Title</p>
    </td>
  </tr>
</tbody></table>

<table class="full-table pad-16"><tbody>
  <tr>
    <td class="pad-0">
      <br>
      <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=Z2nHOhbXqcwWDWOcsFYCjU-1zcLfuJJC1pGVK-hXIY8"></script>
    </td>
  </tr>
</tbody></table>
