<hr>
<section class="institution-logos single" aria-label="Affiliated institution - VR Lab">
  <a href="https://vrlab.buaa.edu.cn/" target="_blank" rel="noopener noreferrer">
    <img src="/images/vrlab_logo.jpg" alt="State Key Laboratory of Virtual Reality Technology and Systems logo" style="width: 400px;">
  </a>
</section>

<section class="institution-logos pair" aria-label="Affiliated institutions">
  <a href="https://www.buaa.edu.cn/" target="_blank" rel="noopener noreferrer">
    <img src="/images/beihang_logo.jpg" alt="Beihang University logo" style="width: 78px;">
  </a>
  <a href="https://www.bit.edu.cn/" target="_blank" rel="noopener noreferrer">
    <img src="/images/bit_logo.jpg" alt="Beijing Institute of Technology logo" style="width: 78px;">
  </a>
</section>