<table class="full-table"><tbody>
  <tr>
    <td class="pad-2-5 col-63 vcenter">
      <p class="name">Jiahao Zhang （张家豪）</p>
      <p>
        I am a first-year Ph.D. of Computer Science and Technology candidate in the School of Computer Science at Beihang University (BUAA), under the supervision of Professor <a href="http://miaowang.me"> Miao Wang </a>.
        Prior to joining BUAA, I received my Master of Engineering in Software Engineering from the Beijing Institute of Technology (BIT), under the supervision of Professor <a href="http://guangyugao-master.cn/"> Guangyu Gao </a> .
      </p>
      <p class="center">
        <a href="mailto:quinn_zhang@buaa.com" target="_blank">Email</a> &nbsp;/&nbsp;
        <a href="https://www.zhihu.com/people/mei-you-dao-bu-liao-de-ming-tian-9" target="_blank">Zhihu</a> &nbsp;/&nbsp;
        <a href="https://scholar.google.com/citations?user=-yfIyeAAAAAJ&hl=zh-CN" target="_blank">Scholar</a> &nbsp;/&nbsp;
        <span class="wechat-container">
          <a class="wechat-link" href="#">Wechat</a>
          <span class="wechat-popup" aria-hidden="true">
            <img src="images/wechat.jpg" alt="WeChat QR code">
          </span>
        </span>
        &nbsp;/&nbsp;
        <a href="https://github.com/jiahaozhang6/" target="_blank">Github</a>
      </p>
    </td>
    <td class="pad-2-5 col-37">
      <a href="images/photo.JPG" target="_blank"><img class="profile-photo hoverZoomLink" alt="profile photo" src="images/myphoto.jpg"></a>
    </td>
  </tr>
</tbody></table>

<script>
// WeChat popup click toggle (works for touch devices) and outside-click close
(function(){
  var container = document.querySelector('.wechat-container');
  if(!container) return;
  var link = container.querySelector('.wechat-link');
  var popup = container.querySelector('.wechat-popup');
  if(!link || !popup) return;

  function closePopup(){
    container.classList.remove('open');
    popup.setAttribute('aria-hidden','true');
    link.setAttribute('aria-expanded','false');
  }

  function openPopup(){
    container.classList.add('open');
    popup.setAttribute('aria-hidden','false');
    link.setAttribute('aria-expanded','true');
  }

  link.addEventListener('click', function(e){
    e.preventDefault();
    openPopup();
  });

  container.addEventListener('mouseenter', openPopup);
  container.addEventListener('mouseleave', closePopup);

  document.addEventListener('click', function(e){
    if(!container.contains(e.target)){
      closePopup();
    }
  });

  document.addEventListener('keydown', function(e){
    if(e.key === 'Escape'){
      closePopup();
    }
  });
})();
</script>
