<table class="full-table"><tbody>
  <tr>
    <td class="pad-16 vcenter">
      <h2>Research</h2>
      <p>3D Vision, Panoramic Generation, Generative AI ...</p>
    </td>
  </tr>
</tbody></table>

<table class="full-table"><tbody>
  <tr>
    <td class="pad-16 vcenter">
      <h2>Personal Interests</h2>
      <p>
        Outside of academic research, I am a passionate long-distance runner. The discipline and endurance cultivated through training for and completing a half-marathon deeply influence my approach to research, teaching me the value of consistency and perseverance in tackling long-term challenges.
      </p>
    </td>
  </tr>
</tbody></table>
